.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  display: flex;
  background-color: #222;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  /*height: 150px;*/
  padding: 5px 15px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.App-header .nav a {
  margin-right: 15px;
  text-decoration: none;
  color: white;
}

.App-header .nav .selected {
  color: #b3d7ff;
}

.home {
  padding: 15px;
}

.home .header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .header h2 {
  margin-right: 15px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
